<div id="<%= dom_id flight %>">
  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport_id %>
  </p>

  <p>
    <strong>Departing airport:</strong>
    <%= flight.departing_airport_id %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Flight duration:</strong>
    <%= flight.flight_duration %>
  </p>

</div>
