<div id="<%= dom_id flight %>">
  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport.name %> (<%= flight.arrival_airport.code %>)
  </p>

  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport.name %> (<%= flight.departure_airport.code %>)
  </p>

  <p>
    <strong>Departure:</strong>
    <%= flight.departure_datetime %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival_datetime %>
  </p>

</div>
