<div id="booking-info">
  <% unless user_signed_in? %>
  <%= render 'devise/sessions/form_new' %>
  <%= render 'devise/registrations/form_new' %>
  <% end %>
  
  <div>
    <div id="flight-booking-info" >
      <div><%= @flight.destination %></div>
      <div><%= @flight.date_days_with_years %></div>
      <div><%= @flight.date_hours %></div>
    </div>
    <div>
      <%= form_with model: @booking do |f| %>
          <%= f.label :passengers, "Number of passengers" %>
          <%= f.select :passengers, [1, 2, 3, 4], selected: @passengers %>

      <% end %>
        
    </div>
  </div>
</div>

<%= link_to 'Back', :back %>
